@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
ul,
ol,
li {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

img,
a,
button {
  display: block;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #f8fafc;
  width: 100vw;
  overflow-x: hidden;
  background-color: grey;
}

.link {
  text-decoration: none;
  font-style: normal;
  /* color: inherit; */
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* кастомные стили */
@layer utilities {
  .line-hidden:last-child > .peer {
    display: none;
  }
}

/* Swiper style */

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
.swiper-button-next {
  right: 0px !important;
}

.swiper-button-prev {
  left: 0px !important;
}
